.cal-skeleton{
  display: flex;
  background-color: purple;
  height: 400px;
  width: 405px;
  flex-wrap: wrap;
}

.cal-buttons{
  background-color: yellowgreen;
  margin: 10px;
  width: 380px;
  text-align: center;
  height: 280px;
  font-size: 30px;
  justify-content: center;
}

#nums{
  width: 40px;
  height: 40px;
  background-color: lightgrey; 
}

#operations{
  width: 40px;
  height: 40px;
  color: white;
  background-color: black;
}

#clear{
  width: 40px;
  height: 40px;
  background-color: red;
}

.cal-output{
  background-color: purple;
  height: 70px;
  width: 500px;
  margin: 20px;
  font-size: 30px;
}

#output-box{
  width: 359px;
  height: 55px;
  background-color: white;
  justify-content: center;
  align-content: center;
  border-style: solid;
  text-align: right;
  font-size: larger;
}

#output{
  position: relative;
  top: 16px;
}


* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  height: 1000px;
  width: 1000px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
